:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --background: #888888;
    --accent-color: #FB565A;
    --acсent-color-hover: #E74246;
    --accent-color-active: #D7373B;
    --green: #00CA74;;
    --green-hover: #00BC6C;
    --green-active: #00AA62;
    --yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;
    --grey: #EEEEEE;
    --grey-hover: #DFDFDF;
    --grey-active: #D5D5D5;
    --dark-grey: #283136;
    --light-grey: #444444; 
  }

  .page-body {
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
   
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*MAIN NAVIGATION*/

  .main-header {
    background-color: var(--grey);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }

  .main-navigation {
  
  }

  .site-nav {
    list-style: none;
  }

  .site-nav a,
  .site-nav-cart {
    text-decoration: none;
    color: black;
  }

  .site-nav a:hover,
  .site-nav-cart:hover {
    color: var(--accent-color);
  }

  .site-nav a:active,
  .site-nav-cart:active {
    color: black;
    opacity: 30%;
  }
  
 /* .site-nav-cart {
    text-decoration: none;
    color: black;
  }
  */
  /*.site-nav-cart:hover {
    color: var(--accent-color);
  }
  */

 /* .site-nav-cart:active {
    opacity: 30%;
  }
*/
  .logo:hover {
    opacity: 70%;
  }

  .logo:active {
    opacity: 30%;
  }
/*Как правильно спрятать заголовок,чтобы он не отображался белой полосой в браузере?*/

  .container h1 {
    visibility: hidden;
  }

/*Carousel*/

.carousel {
  background-color: var(--grey);
}

.carousel-nav {

}

.carousel-btn {
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  width: 18px;
  height: 18px;
}

.slide-head {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
}
/*Не понимаю,откуда брать значение padding,для отступов текста от края кнопки?Или это вообще другое свойство?*/
.slide-btn {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--basic-white);
  width: 240px;
  height: 50px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 10px;
}

.slide-01 {
  background-image: url(../img/slide/slide-1.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  width: 760px;
  height: 431px;
  left: 537px;
  top: 114px;
}

.slide-02 {
  background-image: url(../img/slide/slide-2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 760px;
  height: 431px;
  left: 537px;
  top: 114px;

}

.slide-03 {
background-image: url(../img/slide/slide-3.png);
background-repeat: no-repeat;
background-position: 50% 50%;
width: 760px;
height: 431px;
left: 537px;
top: 114px;
}

.btn {
  background-color: var(--accent-color);
  border-radius: 3px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border: 5px solid var(--accent-color);
}

/*Products*/

.products {

}

.products-list {
  list-style: none;
 }

 .products-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
 }

 .products-list p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
 }

.product-item {

}

.product-sites {
  background-image: url(../img/web_site.png);
  background-repeat: no-repeat;
}

.product-apps {
  background-image: url(../img/apps.png);
  background-repeat: no-repeat;
}

.product-presents {
  background-image: url(../img/presents.png);
  background-repeat: no-repeat;
}

/*Description*/

.desc {

}

.desc-head {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.desc h3 {
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}

.desc-list-products {
  list-style-image: url(../img/list-style.png);
}

.desc-item {

}

.desc-features {
  list-style: none;
}

.desc-features-item {

}

.desc-features-text {
  font-size: 16px;
  line-height: 18px;
}

.desc-features-percent {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

/*Clients*/

.clients {

}

.clients-list {
  list-style: none;
}

.clients-item {
  opacity: 20%;
}

.clients-item:hover {
opacity: 100%;
}

.clients-item:active {
opacity: 10%;
}

/*Footer*/

.main-footer {

}

.map {

}

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}


.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  }

.footer-contacts p{
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
  
.contacts-btn {

}

.socials {
list-style: none;

}

.social-button {
  background-color: ;
  background-color: var(--grey);
  background-position: center;
  border-radius: 50%;
  width: 81px;
  height: 81px;
}

/*Modal*/

.feedback-modal {

}

.feedback-form {

}

.field {

}

.feadback-form-input {

}

.feedback-form-textarea {

}

.feedback-btn {

}

.feedback-close {

}

