:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    
    --accent-color: #FB565A;
    --acсent-color-hover: #E74246;
    --accent-color-active: #D7373B;

    --green: #00CA74;;
    --green-hover: #00BC6C;
    --green-active: #00AA62;

    --yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;

    --background: #888888;
    --grey: #EEEEEE;
    --grey-hover: #DFDFDF;
    --grey-active: #D5D5D5;
    --dark-grey: #283136;
    --light-grey: #444444; 
    
  }

  img {
    height: auto;
    max-width: 100%;
  }
  .page {
    height: 100%;
  }
  .page-body {
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  
  /*MAIN NAVIGATION*/

  .main-header {
    background-color: var(--grey);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;    
    width: auto        
  }

  .container {
    width: 1160px;
    margin: 0 auto;
  }

  .main-navigation {
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    max-height: 115px;
    padding-top: 49px;
  }

  .site-nav li {
    margin-left: 22px;
    margin-right: 22px;
  }
  .site-nav {
    display: flex;
    align-items: center;  
    justify-content: center;    
    list-style: none;  
    margin: 0;
    padding: 0;
  }

  .user-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  .site-nav-cart {    
    background-image: url(../img/icons/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;    
  }
  
  .site-nav a,
  .site-nav-cart {
    text-decoration: none;
    color: black;
  }

  .site-nav a:hover,
  .site-nav-cart:hover {
    color: var(--accent-color);
  }

  .logo:hover {
    opacity: 70%;
  }

  .site-nav a:active,
  .site-nav-cart:active,
  .logo:active {
    color: black;
    opacity: 30%;
  }


/* Main*/

.main-content {
  display: grid;
  grid-template-rows: auto auto auto auto; 
}

/* Button */
.btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;  
  text-align: center;  
  padding: 15px 15px;
  display: inline-block;
  vertical-align: top;
}

.btn:hover {
  background-color: var(--acсent-color-hover);
  border: 1px solid var(--acсent-color-hover);
  border-radius: 3px;
}

.btn:active {
  background-color: var(--accent-color-active);
  border: 1px solid var(--accent-color-active);
  border-radius: 3px;
}


/*Carousel*/

.carousel {
  background-color: var(--grey);
 
}
.carousel-nav {  
  display: flex;
  width: 88px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 535px;
  bottom: 97px;
}
.carousel-nav-container {  
  
}

.carousel-btn {
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  width: 18px;
  height: 18px;
}


.carousel-btn-active {
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  background-image: url(../img/icons/icon-ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.slider {
  position: relative;
  
}
.slide-head {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;  
  margin: 0px;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
  margin: 45px 0;
}

.slide-btn {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--basic-white);
  padding: 15px 55px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
}

.slide-content {
  width: auto;
  height: 430px;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 84px;
}

.slide-01 {
  background-image: url(../img/slide/slide-1.png);
}

.slide-02 {
  background-image: url(../img/slide/slide-2.png);
}

.slide-03 {
background-image: url(../img/slide/slide-3.png);
}
/*Products*/

.products {
  margin-top: 80px;
}

.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  
  padding: 0;
  margin-right: 60px;
 }

 .products-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item {
  padding-top: 146px;
  display: inline-block;  
  width: 300px;
}

.product-item .btn {
  padding: 17px 40px;
}

.product-sites {
  background-image: url(../img/web_site.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.product-apps {
  background-image: url(../img/apps.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.product-presents {
  background-image: url(../img/presents.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.product-sites .btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.product-sites .btn:hover {
  background-color: var(--acсent-color-hover);
  border: 1px solid var(--acсent-color-hover);
}

.product-sites .btn:active {
  background-color: var(--accent-color-active);
  border: 1px solid var(--accent-color-active);
}

.product-apps .btn {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.product-apps .btn:hover {
  background-color: var(--green-hover);
  border: 1px solid var(--green-hover);
}

.product-apps .btn:active {
  background-color: var(--green-active);
  border: 1px solid var(--green-active);
}


.product-presents .btn {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.product-presents .btn:hover {
  background-color: var(--yellow-hover);
  border: 1px solid var(--yellow-hover);
}

.product-presents .btn:active {
  background-color: var(--yellow-active);
  border: 1px solid var(--yellow-active);
}

/*Description*/

.desc {
  display: grid;
  grid-template-columns: 650px 360px;
  column-gap: 150px;
}

.desc-head {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.desc-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}

.desc-list-products {
  list-style-image: url(../img/list-style.png);
}

.desc-item {

}

.desc-features {
  list-style: none;
  padding: 0;
}

.desc-features-item {
  display: inline-block;
  width: min-content;
  margin-right: 20px;
}

.desc-features-item:last-child {
  margin-right: 0;
}


.desc-features-item p {
  margin: 0px;
}

.small {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}
.desc-features-text {
  font-size: 16px;
  line-height: 18px;
}

.desc-features-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

/*Clients*/

.clients {
  
}

.clients-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 95px;
  padding: 0;
}

.clients-list li {
  display: inline-block;
}

.clients-item a{
  opacity: 20%;
 }

.clients-item a:hover {
opacity: 100%;
}

.clients-item a:active {
opacity: 10%;
}

/*Footer*/

.main-footer {
  margin: 0 auto; 
  position: relative;
}

.map {
  
}

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 139px;
}
.footer-contacts {
  position: absolute;
  top: 40px;
  background-color: var(--basic-white);  
  width: 308px;
  height: 319px;
  text-align: center;  
}


.footer-contacts:nth-child(2){
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer-contacts-text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 49px;
}
.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000
}

.contacts-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  border: 1px solid var(--accent-color);
  padding: 15px 15px;
  display: inline-block;
  
}

.socials {
  list-style: none;
  padding-left: 0px;
  display: flex;
  width: 260px;
  justify-content: center;
  margin-right: 12px;
  flex-direction: row;
}

.social-button {
  background-color: var(--grey);
  background-position: center;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  
}

.social-button-vk {
  background-image: url(../img/icons/icon-vk.svg);
  background-repeat: no-repeat;  
}

.social-button-fb {
  background-image: url(../img/icons/icon-fb.svg);
  background-repeat: no-repeat;
}

.social-button-inst {
  background-image: url(../img/icons/icon-instagram.svg);
  background-repeat: no-repeat;
}

.social-button:hover {
  background-color: var(--accent-color);
}

.social-button:active {
  background-color: var(--accent-color-active);
}
/*Modal*/

.feedback-modal {
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.feedback-modal h2 {
  font-size: 45px;
  line-height: 53px;
}

.feedback-form {

}

.field {

}

.feadback-form-input,
.feedback-form-textarea {
  color: #444444;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

/*Не срабатывает фокус*/
.field:focus,
.feadback-form-input:focus,
.feedback-form-textarea:focus {
  border-radius: 3px;
  border-color: black;
}

.feedback-btn {
  padding: 15px 20px;
  display: inline-block;
  border: 1px solid var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  display: block;
}

.feedback-close {

}

/*Catalog*/

.catalog-btn {
  padding: 15px 72px;
}
.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  width: 1160px;
  margin: 0 auto;
  margin-top: 55px;
  column-gap: 140px;
}

.container h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  padding-top: 78px;  
  margin-bottom: 108px; 
  text-align: center;
  grid-column: 1 / -1; 
}

.filter-form fieldset {
  border: 0px;
  padding: 0;
  margin: 0;  
}


.sorting h3 {
  margin-bottom: 48px;
}
.filter-form legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-group ul {
  list-style: none;
  width: 260px;
  padding: 0;
  margin: 0;
  margin-left: 42px;
  margin-top: 16px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter-group {
  display: block;
  width: 208px;
}

.filter-group input {
  opacity: 0.4;
}

.filter-group label:hover{
color: #4D4D4D;
}

.filter-option label {
  display: block;
  position: relative;
}

.filter-option {
  margin-bottom: 20px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/checkbox-off.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/icons/checkbox-on.svg);  
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-off.svg);
  opacity: 0.4;
}
.filter-input-radio:hover + label::before {
  opacity: 100%;
}
.filter-input-checkbox:hover + label::before {
  opacity: 100%;
}

.filter-input-radio:checked + label::before {
 
  background-image: url(../img/icons/radio-off.svg), url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-position: center, center;
  }

.filter-group label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-btn {
  background-color: var(--grey);
  border-radius: 3px;
  border: 1px solid #EEEEEE;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px; 
  text-transform: uppercase;  
  padding: 17px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 50px;
  margin-top: 48px;
}


.filter-btn:hover {
  background-color: var(--grey-hover);
  border-radius: 3px;
  border: 1px solid var(--grey-hover);
}

.filter-btn:active {
  background-color: var(--grey-active);
  border-radius: 3px;
  border: 1px solid var(--grey-active);
}

.sorting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.sorting {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin-bottom: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.sorting-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}


.sorting-list li {
  margin-right: 25px;
}

.sorting-list-simbol li {
  margin-left: 18px;
}
.sorting a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px; 
  text-transform: uppercase;
}

.sorting-item {
  color: #000000;
  opacity: 30%;
}
 .sorting-item-active {
  color: #000000;
  opacity: 100%;
 }
.sorting-list-simbol {
  display: flex;
  justify-content: flex-end;
}
.catalog-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 30px;
  
}

.catalog-item::before {
  content: ""; 
  opacity: 0.12;
  background-image: url(../img/products/top.svg);
  display: block;
  width: 100%;
  height: 40px;

}

.catalog-item:hover::before { 
  opacity: 1;
}

.catalog-item h3{
  text-transform: uppercase;
}

.catalog-item h3:hover {
  color: #FB565A;
}
.catalog-item h3:active {
  color: #000000;
  opacity: 0.3;
}


.catalog-item {
  position: relative;
}

.catalog-item:hover .catalog-item-content {
  visibility: visible;
}
.catalog-item-content {
  background-color: #EEEEEE;
  width: 360px;
  height: 231px;
  text-align: center;
  padding-top: 25px;  
  position: absolute;
  bottom: 0px;
  visibility: hidden;
}

.visually-hidden {
  display: none;
}

.shop {  
  
}

.pagination-list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 0;
}

.pagination-item a,
.pagination-item-switch a {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.pagination-item {
  height: 50px;
  background-color: #EEEEEE;
  margin-right: 11px;
  text-align: center;
  border-radius: 3px;
}

.pagination-item-number {
  width: 50px;
}

.pagination-item-number:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.pagination-item-number:hover {
  background: #DFDFDF;
}

.pagination-item-checked {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
}

.pagination-item-checked a{
  margin-top: 13px;
}

.pagination-item-switch {   
  padding: 0 75px;  
}


/*
.sorting-list li,
.sorting-list,
.sorting h3 {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.sorting-list,
.sorting h3 {
  margin: 16px 16px;
}



*/